@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
}

#workspaces button {
    padding: 5px;
    color: @base;
    /* margin-right: 5px; */
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.focused {
    color: @blue;
    background: @base;
    /* border-radius: 10px; */
}

#workspaces button.urgent {
    color: @red;
    background: @crust;
    /* border-radius: 10px; */
}

#workspaces button:hover {
    background: @crust;
    color: @lavender; 
    /* border-radius: 10px; */
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 1px solid @text;
}

#backlight {
    /* border-radius: 10px 0px 0px 10px; */
    color: @green;
}

#tray {
    /* border-radius: 10px; */
    /* margin-right: 10px; */
}

#workspaces {
    background: @base;
    /* border-radius: 10px; */
    /* margin-left: 10px; */
    padding-right: 0px;
    padding-left: 5px;
    border-left: 1px solid @text;
}

#cpu {
    /* border-radius: 0px 10px 10px 0px; */
    color: @red;
}

#memory {
    /* border-radius: 10px 0px 0px 10px; */
    color: @maroon;
}

#window {
    border-right: 1px solid @text;
    border-left: 1px solid @text;
}

#clock {
    color: #a6adc8;
    /* border-radius: 10px 10px 10px 10px; */
    margin-left: 5px;
    border-right: 0px;
    border-left: 1px solid @text;
    color: @sapphire;
}

#network {
    color:  @peach;
    /* border-radius: 10px 0px 0px 10px; */

}

#pulseaudio {
    color: @teal;
    border-left: 0px;
    border-right: 1px solid @text;
}

#pulseaudio.microphone {
    color: @sky;
    /* border-radius: 0px 10px 10px 0px; */
    border-left: 0px;
    border-right: 1px solid @text;
    margin-right: 5px;
}

#battery {
    color: @yellow;
    /* border-radius: 0px 10px 10px 0px; */
}
